In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20211030130953-0000
KERNEL_ID = 21d09a44-2dfa-4fda-99d1-2568addd6b23

  _c0 interest_rate      credit march may previous duration y
1 0   1.334              0.0    1.0   0.0 0.0      117.0    no
2 1   0.767              0.0    0.0   2.0 1.0      274.0    yes
3 2   4.8580000000000005 0.0    1.0   0.0 0.0      167.0    no
4 3   4.12               0.0    0.0   0.0 0.0      686.0    yes
5 4   4.856              0.0    1.0   0.0 0.0      157.0    no
6 5   0.899              0.0    0.0   1.0 0.0      126.0    no